/*common nav style*/

 .navigation {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcd;
    display: flex; /*flexbox container*/
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px 60px 100px;
    /* padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 100px; */
 }

 /* left */

 .navigation > .left-column {
    display: flex;
    align-items: center;
 }

 .navigation > .left-column > .icon {
    margin-right: 15px;
 }

  .navigation > .left-column > .icon i {
    font-size: 2em;
 }

 .navigation > .left-column > .contact-hours {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.contact-hours > .phone {
    font-family: "Ubuntu Condensed", sans-serif;
}

.navigation > .left-column > .contact-hours > .hours {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #858585;
    font-size: 0.8em;
}

.links > .nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: white;
}

/* right */

.navigation > .right-column {
    display: flex;
    letter-spacing: 2px;

}

.navigation > .right-column > .address {
    color:white;
    font-family: "Ubuntu Condensed", sans-serif;
    text-align: right;

}

.navigation > .right-column > .address a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.navigation > .right-column > .address a:hover {
    color: #cea135;
}

.navigation > .right-column .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.navigation > .right-column .contact-icon a {
    color: #cbcbcd;
    transition: 0.5s;
}

.navigation > .right-column .contact-icon a:hover {
    color: #cea135;
}


/* center */
.navigation > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 42px;
    width: 200px;
}

.navigation > .center-column > .logo {
    display: flex;
    justify-content: center;
}

.navigation > .center-column > .logo img {
    width: 180px;
    height: 100%; 
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links > .nav-link {
    width: 70px;
    text-align: center;
}


.links > .nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #cbcbcd;
    text-decoration: none;
    transition: 05s;
}

.links > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}
