/* page-container styles */

.page-container {
   display: flex;
   justify-content: center;
}

.page-container > .content {
   width: 1000px;
}

.page-container > .content > #chef {
   width: 200px;
   margin: 25px 40px 20px 0px;
   float: left;
   border: 3px solid #6d4e05;
}

.page-container > .conten p {
   letter-spacing: 1px;
   line-height: 30px;
}